<div class="col-md-11 col-centered">
  <h1>All Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li>
      <h4>
        <%= link_to restaurant.name, restaurant_path(restaurant) %> Rating: <%= restaurant.reviews.average(:rating) %>
      </h4>
    </li>
    <% end %>

  </ul>
</div>
